{{ define "main" }}

<section class="page container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <h1 class="page-title">{{ .Title }}</h1>

            {{ partial "header-links.html" .Content }}

            <ul class="posts">
                {{ range .Data.Pages -}}
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    {{ if not .Date.IsZero }}
                    <time>
                        {{- .Date.Format (.Site.Params.dateform | default "Jan 02, 2006") -}}
                    </time>
                    {{end}}
                </li>
                {{- end }}
            </ul>

            {{ if .IsTranslated }}
            <h4>{{ i18n "translations" }}</h4>
            <ul>
                {{ range .Translations }}
                <li><a href="{{ .Permalink }}">
                        {{ .Lang }}: {{ .Title }}{{ if .IsPage }}{{ end }}
                </a></li>
                {{ end }}
            </ul>
            {{ end }}

        </div>
    </div>
</section>

{{ end }}
