{{ $content := . | replaceRE "(<h[2] id=\"([^\"]+)\">)(.+)(</h[2]+>)" `${1}<a aria-label="Permalink to ${3}" title="Permalink to '${3}'" class="text-light" href="#${2}">${3}</a>${4}` }}
{{ $content := $content | replaceRE "(<h[3] id=\"([^\"]+)\">)(.+)(</h[3]+>)" `${1}<a aria-label="Permalink to ${3}" title="Permalink to '${3}'" class="text-light" href="#${2}">${3}</a>${4}` }}
{{ $content := $content | replaceRE "(<h[4] id=\"([^\"]+)\">)(.+)(</h[4]+>)" `${1}<a aria-label="Permalink to ${3}" title="Permalink to '${3}'" class="text-light" href="#${2}">${3}</a>${4}` }}
{{ $content := $content | replaceRE "(<h[5] id=\"([^\"]+)\">)(.+)(</h[5]+>)" `${1}<a aria-label="Permalink to ${3}" title="Permalink to '${3}'" class="text-light" href="#${2}">${3}</a>${4}` }}
{{ $content := $content | replaceRE "(<h[6] id=\"([^\"]+)\">)(.+)(</h[6]+>)" `${1}<a aria-label="Permalink to ${3}" title="Permalink to '${3}'" class="text-light" href="#${2}">${3}</a>${4}` }}

{{ $content | safeHTML }}

{{/* 
{{ $content := . | replaceRE "(<h[2] id=\"([^\"]+)\">)(.+)(</h[2]+>)" `${1}${3} <a aria-label="header link for ${3}" href="#${2}" class="header-link">#</a>${4}` }}
{{ $content = $content | replaceRE "(<h[3] id=\"([^\"]+)\">)(.+)(</h[3]+>)" `${1}${3} <a aria-label="header link for ${3}" href="#${2}" class="header-link">#</a>${4}` }}
{{ $content = $content | replaceRE "(<h[4] id=\"([^\"]+)\">)(.+)(</h[4]+>)" `${1}${3} <a aria-label="header link for ${3}" href="#${2}" class="header-link">#</a>${4}` }}
{{ $content = $content | replaceRE "(<h[5] id=\"([^\"]+)\">)(.+)(</h[5]+>)" `${1}${3} <a aria-label="header link for ${3}" href="#${2}" class="header-link">#</a>${4}` }}
{{ $content | safeHTML }}
*/}}
