{{ $related := .Site.RegularPages.RelatedIndices . "tags"  }}
{{ with $related }}
<h6>{{ i18n "relatedPosts" }}</h6>
<ul>
	{{ range . }}
    <li>
        <a href="{{ .RelPermalink }}">{{ .Title | markdownify }} <small>({{ .Date.Format "2006-01-02" }})</small></a>
    </li>
	{{ end }}
</ul>
{{ end }}
